<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Vue.js Form</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        #app {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>

<div id="app">
    <h1>Vue Test</h1>
    <form @submit.prevent="submitForm">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">UserID:</span>
            </div>
            <input type="text" id="input1" class="form-control" v-model="inputs.inputUserID" aria-label="UserID" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Keywords:</span>
            </div>
            <input type="text" id="input2" class="form-control" v-model="inputs.inputKeywords" aria-label="Keywords" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Description:</span>
            </div>
            <input type="text" id="input3" class="form-control" v-model="inputs.inputDescription" aria-label="Description" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Image:</span>
            </div>
            <input type="text" id="input4" class="form-control" v-model="inputs.inputImage" aria-label="Image" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Latitude:</span>
            </div>
            <input type="text" id="input5" class="form-control" v-model="inputs.inputLat" aria-label="Latitude" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Longitude:</span>
            </div>
            <input type="text" id="input6" class="form-control" v-model="inputs.inputLon" aria-label="Longitude" aria-describedby="inputGroup-sizing-default">
        </div>

        <button type="submit" @click="GetAll" class="btn btn-primary">Get Data</button>
        <button type="submit" @click="PostItem" class="btn btn-success" data-action="create_item">Add Item</button>
    </form>
    <div id="container">
    </div>
</div>
    

<script>
    new Vue({
        el: '#app',
        data: {
            inputs: {
                inputUserID: '',
                inputKeywords: '',
                inputDescription: '',
                inputImage: '',
                inputLat: '',
                inputLon: ''
            },
            responseData: null
        },
        //A lot of repeated code here should look into optimising 
        methods: {
            GetAll() {
                const urlParams = new URLSearchParams(window.location.search)
                const serverURL = (urlParams.get('api') || '').replace(/\/$/, '')

                if (serverURL) {
                    axios.get(`${serverURL}/items`)
                    .then(response => {
                        this.responseData = response.data
                        const container = document.getElementById('container')

                        this.responseData.forEach(item => {
                            const div = document.createElement('div')
                            div.textContent = `UserID: ${item.userid}, Description: ${item.description}`

                            const image = document.createElement('img')
                            image.src = item.image
                            image.alt = 'Image of a Cat'

                            const removeButton = document.createElement('button')
                            removeButton.textContent = 'Remove'
                            removeButton.addEventListener('click', () => {
                                container.removeChild(div)
                            })

                            div.appendChild(image)
                            div.appendChild(removeButton)
                            container.appendChild(div)
                        })

                    })
                    .catch(error => {
                        console.error(error)
                    })
                } else {
                    console.error('Server URL is not specified')
                }
                
            },

            PostItem() {
                const urlParams = new URLSearchParams(window.location.search)
                const serverURL = (urlParams.get('api') || '').replace(/\/$/, '')

                if (serverURL) {
                    const inputData = {
                        user_id: this.inputs.inputUserID,
                        keywords: this.inputs.inputKeywords,
                        description: this.inputs.inputDescription,
                        image: this.inputs.inputImage,
                        lat: this.inputs.inputLat,
                        lon: this.inputs.inputLon
                    };

                    axios.post(`${serverURL}/item`, inputData)

                    .then(response => {
                        const container = document.getElementById('container')
                        const div = document.createElement('div')
                        div.textContent = `UserID: ${response.data.userid}, Description: ${response.data.description}`

                        const image = document.createElement('img')
                        image.src = response.data.image
                        image.alt = 'Image of a Cat'

                        const removeButton = document.createElement('button')
                        removeButton.textContent = 'Remove'
                        removeButton.addEventListener('click', () => {
                            container.removeChild(div)
                        })

                        div.appendChild(image)
                        div.appendChild(removeButton)
                        container.appendChild(div)

                    })
                    .catch(error => {
                        console.error(error)
                    })
                } else {
                    console.error('Server URL is not Specified')
                }
            },

            submitForm() {

            }
        }
    })
</script>

</body>
</html>
